body.page-perso.page-node-edit {
  .tabs {
    padding: 0;
  }
  form {
    // à cause du bandeau fixe des buttons
    padding-bottom: 4rem;

    fieldset {
      margin: 0;
      padding: 0;
      border: none;
    }

    .tabs-content ul:not(.chosen-results) {
      margin: 0;
      list-style: none;
      li {
        margin: 0;
      }
    }

    #edit-field-honoraire,
    #edit-field-prix,
    #edit-field-surface-bien,
    #edit-field-surface-terrain {
      @extend .clearfix;
      input {
        width: 80%;
        float: left;
      }
    }

    #edit-field-compromis,
    #edit-field-honoraire {
      input {
        margin-bottom: 0;
      }
      margin-bottom: $column-gutter;
    }

    #edit-field-stars {
      margin-bottom: $column-gutter;
    }

    #edit-field-pieces {
      input {
        max-width: 75px;
      }
    }

    div.autocomplete-deluxe-multiple {
      width: 100%;
      input {
        margin: 0 0 0 .5rem;
        height: 1.7rem;
      }
      div.autocomplete-deluxe-throbber {
        margin-top: 0 !important;
      }
    }

    span.field-suffix {
      top: rem-calc(10);
      position: relative;
      left: rem-calc(10);
    }

    .description {
      clear: left;
    }

    #edit-field-photos {
      thead {
        th:last-child {
          position: absolute;
          right: 1rem;
        }
      }
      tr.draggable td {
        position: relative;
        &:last-child {
          position: absolute;
          right: 1rem;
          padding-top: 1rem;
        }
      }
      .warning.tabledrag-changed {
        position: absolute;
        top: 0;
        right: 0;
      }
      button {
        @extend .warning;
        padding: .8rem;
      }
      div.image-preview {
        padding: 0;
      }
      td .image-widget .image-widget-data {
        //position: absolute;
        bottom: rem-calc(5);
        left: rem-calc(5);
        padding: .5rem;
        background: transparentize($white, .5);
        width: auto !important;

        .description {
          display: none;
        }
      }

      .tabledrag-handle {
        position: absolute;
        z-index: 1;
        margin-left: 0;
        .handle {
          padding: 1.5rem;
          margin: 0;
        }
      }
      .image-widget.form-managed-file {
        &, & > .image-widget-data {
          &, .droppable {
            width: 100%;
          }
        }
      }
    }

    .vertical-tabs {
      input[type="checkbox"] {
        margin-bottom: 0;
      }
      background: $white;
      fieldset {
        padding-top: $column-gutter;
      }
    }

    .form-actions.form-wrapper {
      @include single-transition(all, .3 sec, ease-out);
      position: fixed;
      bottom: 0;
      width: 100%;
      background: $sand-brown;
      left: 0;
      text-align: center;
      padding: $column-gutter/2;
      opacity: .3;
      &:hover {
        opacity: 1;
      }

      button {
        margin-bottom: 0;
      }
    }
  }

  .sticky-header {
    z-index: 2;
  }
}