body.landing_page_main {
  .background-page {
    background: url('../images/background-page.jpg') center center no-repeat;
    background-size: cover;

    @media #{$small-up} {
      padding-top: $column-gutter/2;
    }

    @media #{$medium-up} {
      padding-bottom: rem-calc(45);
    }

    @media #{$large-up} {
      padding-top: $column-gutter;
    }
  }

  .list-localite {
    @media #{$medium-up} {
      position: relative;
      margin-top: rem-calc(-47);
    }
  }

  .people {
    @media #{$medium-up} {
      position: relative;
      margin-top: -2.9375rem;
    }
  }

  // bad ..
  .left-off-canvas-toggle {
    top: 0;
    left:0;
  }
}