.node-type-bien-immobilier:not(.page-node-edit) {
  .bien-content h2 {
    @media #{$small-only} {
      line-height: 1.5rem;
      small {
        display: none;
      }
    }
  }

  &.logged-in {

    //.collections.message .view-content > .collection {
    //
    //  border-bottom: rem-calc(1) solid $silver;
    //
    //  .collection.light {
    //    &, & .item-list > ul > li {
    //      background: none;
    //    }
    //  }
    //
    //  .inner {
    //    //background: transparentize($sand-light, .7);
    //  }
    //
    //  &:hover {
    //    box-shadow: none;
    //  }
    //
    //  .field-name-field-referenceto.form-wrapper {
    //    display: none !important;
    //  }
    //}

    .pane-section-2cols-page-bien-related {
      background: $sand-pinky;

      .pane-title {
        @include custom-pane-title-src;
      }

      .pane-message-2-panel-pane-7 .pane-title {
        background: none;
      }

      .view-header {
        position: absolute;
        right: 0;
        top: -0.75rem;
      }
    }

    .pane-visites-panel-pane-8 .view-visites .inner, .view-visites .view-empty p {
      background: $white !important;
    }

    .view-visites .view-empty p {
      margin: 0 !important;
    }

    .field-name-field-photos {
      overflow: hidden;
      max-height: rem-calc(330);
    }

    h2 {
      margin: 0;
    }
    .pane-node-body {
      .pane-title {
        padding: 0 0 .5rem;
        font-size: inherit;
        //color: $primary-color;
      }

      .body.field {
        max-height: rem-calc(21*8);
        overflow: hidden;
        color: $grey-black;
      }
      .less-desc {
        display: none;
      }

      &.desc-open {
        .body.field {
          max-height: none;
          overflow: visible;
        }
        .more-desc {
          display: none;
        }
        .less-desc {
          display: block;
        }
      }

      .less-desc a, .more-photos a, .more-desc a {
        display: block;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        background: rgba(255, 255, 255, 0.85);
        padding: 1rem 0 .5rem 0;
        font-size: .8rem;
        left: 0;
      }
      .less-desc a {
        position: relative;
        margin: 0;
      }
      .less-photos {
        display: none;
      }
    }

    .pane-bien-description {
      padding-top: 0 !important;
    }

    .node-title {
      font-size: 1.2rem;
      position: absolute;
      top: rem-calc(100);
      z-index: 1;
      max-width: rem-calc(500);
      left: 50%;
      margin-left: -250px;
      text-align: center;
      padding: $column-gutter/2 $column-gutter;
      background: transparentize($primary-color, .05);
      color: $white;
    }

    //.view-liste-caracteristiques-bien .view-content p {
    //  &:last-child {
    //    margin-bottom: 0;
    //  }
    //}

    .bien.pane-title {
      background: $white;
      margin: $column-gutter 0 0 0;
      padding: $column-gutter $column-gutter $column-gutter/2 $column-gutter;

      h2 {
        font-family: $font-family-sans-serif;
        font-size: .8rem;
        color: $grey-smoke;
        display: inline-block;
      }
      .form-item {
        margin: 0 $column-gutter 0 0;
      }
    }

    .custom-pane-title {
      color: $primary-color;
      padding-top: .6rem;
      padding-left: $column-gutter;
      background: $white;
    }

    .search-filters.bien {

      i {
        max-width: rem-calc(15);
        margin-right: $column-gutter/2;

      }
      margin-top: $column-gutter;

      .side-nav:nth-child(n+3) {
        border: none !important;
      }

      h3 {
        margin-top: 0;
        &:not(:first-child) {
          border-top: rem-calc(1) solid $silver;
        }
        //color: $primary-color;
      }
      //.mfp-gallery-image {
      //  a:nth-child(n+5) {
      //    display: none;
      //  }
      //}

      .view-content {
        color: $grey-black;
      }

      .less-photos {
        display: none;
      }

      .more-photos, .less-photos {
        padding: $column-gutter/2 0 0 0;
        a {
          color: $blue-sea;
          text-decoration: underline;
        }
      }

      .field-name-field-photos .mfp-gallery-image {
        max-height: rem-calc(155);
        overflow: hidden;
        @extend .clearfix;
      }

      .field-name-field-photos.more-open {
        .more-photos {
          display: none;
        }
        .less-photos {
          display: block;
        }
        .mfp-gallery-image {
          max-height: none;
          overflow: visible;
        }
      }

      .view-liste-caracteristiques-bien {
        a {
          font-size: 1rem;
          color: $blue-sea;
          font-family: $font-family-sans-serif;
          padding: 0;
          text-decoration: underline;
        }
      }

      .view-localite-aggr-bien {
        background: $white;
        margin-top: $column-gutter;

        .field.localite {
          padding-left: $column-gutter;
          padding-bottom: $column-gutter/2;

          a {
            color: $blue-sea;
            font-size: 1rem;
          }
        }

        h2 {
          border: none;
          a {
            font-size: 1rem;
          }
        }
        img {
          padding: $column-gutter;
          padding-top: 0;
        }
        p:last-child {
          margin-bottom: $column-gutter/2;
        }
      }

      .view-liste-bien {
        background: $white;
        padding-bottom: $column-gutter/2;

        .views-row {
          padding: $column-gutter/2 $column-gutter;

          &:hover {
            background: transparentize($sand-light, .9);
            a {
              color: black;
            }
          }
        }
        a.active {
          background: none;
        }
      }

    }

    .search-filers .side-nav ul {
      border: 1px solid black !important;
    }

    .view-cards-bien {
      .card {
        .wrapper {
          margin: 0 !important;
        }
      }
    }

  }
  // -/ logged-in
}