.page-perso-contacts .entity-entityform-type {
  h2 {
    display: none;
  }
}

.page-entityform-delete,
.page-entityform-edit,
.page-flag-confirm-flag-visite,
.page-contact-visite,
.page-reply,
.page-printmail,
.page-flag-confirm {
  background: $sand-pinky;
  margin: $column-gutter inherit;

  .row {
    max-width: $max-width-inner;
    margin: auto;
    min-width: 400px;
  }
  h1 {
    @extend h4;
    font-family: $font-family-sans-serif;
    .placeholder {
      font-family: $font-family-serif;
    }
  }

  .columns {
    padding: $column-gutter !important;
    background: $white;
  }

  .form-actions.form-wrapper {
    text-align: center;
  }

  #edit-btn-cancel {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: $info-color;
    color: black;
  }

  #edit-fld-title a {
    color: $blue-sea;
    display: block;
    clear: both;
  }
}


.field-name-field-photos-private {
  fieldset {
    padding: 0;
    border: 0;
  }
  @include edit-field-photos();
}