body.page-perso.page-user-edit {
  form #edit-field-photos {
    @include edit-field-photos();
  }
}

body.page-perso.page-perso-users-add {
  form #edit-submit {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
  }
}

body.page-perso.page-user-edit,
body.page-perso.page-perso-users-add {
  form {
    // à cause du bandeau fixe des buttons
    padding-bottom: 4rem;

    fieldset {
      margin: 0;
      padding: 0;
      border: none;
    }

    .confirm-parent, .password-parent {
      width: auto;
    }

    .password-strength, .password-confirm {
      margin-top: 0;
    }

    .form-type-password label {
      clear: both;
    }

    input[type="checkbox"], input[type="radio"] {
      margin-bottom: 0;
    }

    .form-item-name,
    .form-item-current-pass,
    .form-item-mail {
      input {
        margin-bottom: 0;
      }
      margin-bottom: $column-gutter;
    }

    .form-actions.form-wrapper {
      @include single-transition(all, .3 sec, ease-out);
      position: fixed;
      bottom: 0;
      width: 100%;
      background: $sand-brown;
      left: 0;
      text-align: center;
      padding: $column-gutter/2;
      opacity: .3;
      margin: 0;

      &:hover {
        opacity: 1;
      }

      button {
        margin-bottom: 0;
      }
    }
  }
}