.page-node-delete {
  background: $sand-pinky;
  .row {
    max-width: $max-width-inner;
    margin: auto;
  }
  h1 {
    @extend h4;
    font-family: $font-family-sans-serif;
    .placeholder {
      font-family: $font-family-serif;
    }
  }

  .columns {
    padding: $column-gutter !important;
    background: $white;
  }

  .form-actions.form-wrapper {
    text-align: center;
  }
}