.stats {
  color: $grey-smoke;
  .field-content {
    color: black;
    float: right;
  }
  & > div {
    padding: $column-gutter/2;
    &:hover {
      background: transparentize($sand-light, .9);
    }
  }
}