/*
 * Card component
 * https://www.google.com/design/spec/components/cards.html
 */
.cards {
  .card {
    position: relative;

    .wrapper {
      background: $white;
      @include single-transition();

      &:hover {
        box-shadow: $shadow-active-item;
      }
    }
    @extend .clearfix;

    img.picture, .picture img {
      width: 100%;
      height: auto;
    }

    .picture {
      position: relative;
      .label {
        position: absolute;
        bottom: $column-gutter;
        left: $column-gutter;
      }
    }

    margin-bottom: $column-gutter;

    .inner {

      padding: 0 $column-gutter;

      .title {
        color: $grey-black;
        @extend .ellipsis;
        margin: 0;
      }

      .stars {
        margin-bottom: $column-gutter;
      }

      .subtitle, .subtitle a {
        color: $grey-smoke;
        text-decoration: none;
        max-height: 2.5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      p {
        margin-bottom: $column-gutter;
      }

      .actions {
        padding-top: $column-gutter;
        border-top: rem-calc(1) solid $silver;
      }
    }
  }

  &.message {
    .card {
      p {
        position: relative;
      }
      h3 {
        padding-bottom: 0;
      }
      .subtitle {
        margin-bottom: $column-gutter;
      }
      .subtitle, .subtitle a {
        text-overflow: initial;
        white-space: normal;
        overflow: visible;
        max-height: none;
        height: auto;
      }

      .actions {
        .flag-wrapper {
          a {
            @extend .button;
          }
          &.flag-lu {
            float: right;
            a {
              &.flag-action {
                @extend .success;
              }
              &.unflag-action {
                @extend .info;
              }
            }
          }
        }
      }
    }
  }
}

@media #{$large-up} {
  .large-6-for-cards .cards {
    @include grid-row();
    .card {
      @include grid-column($collapse: true, $columns: 6);
    }
  }
  .cards {
    .large-6 {
      &.views-row-even .wrapper {
        margin-left: $column-gutter/2;
      }
      &.views-row-odd .wrapper {
        margin-right: $column-gutter/2;
      }
    }

    .large-4 {
      .wrapper {
        margin: 0 $column-gutter/2;
      }
    }
  }

  .view-content > h5, .view-header {
    text-align: center;
    font-family: $font-family-sans-serif;
    font-size: .8rem;
    color: $grey-smooth;
  }
}

@media #{$medium-up} {
  .cards.cards-medium-6 .view-content {
    @include grid-row();
    & > .card {
      @include grid-column($collapse: true, $columns: 6);
    }
  }
  .cards {
    .large-6 {
      &.views-row-even .wrapper {
        margin-left: $column-gutter/2;
      }
      &.views-row-odd .wrapper {
        margin-right: $column-gutter/2;
      }
    }

    .large-4 {
      .wrapper {
        margin: 0 $column-gutter/2;
      }
    }
  }
}

.cards .card.card-2col {
  .edit {
    @include single-transition();
    visibility: hidden;
    opacity: 0;

    a.flag {
      padding: 0 !important;
    }
  }
  &:hover .edit {
    visibility: visible;
    opacity: 1;
  }
  .wrapper {
    .actions a:hover {
      text-decoration: underline;
    }
    @include grid-row();
    & > .picture, & > .inner {
      @include grid-column($collapse: true, $columns: 6);
      padding: $column-gutter/2;
    }
    & > .actions, & > .headers {
      @include grid-column($collapse: true, $columns: 12);
    }

    .picture {
      padding-left: $column-gutter;
      &:hover {
        background: url(../images/icon-zoom-64.png) center center no-repeat;
        img {
          opacity: .7;
        }
      }
    }

    .inner {
      padding-right: $column-gutter;

      p.subtitle {
        color: $grey-smooth;
      }
    }

    & > .actions {
      border-top: rem-calc(1) solid $silver;
      padding: $column-gutter/2 $column-gutter $column-gutter/2 $column-gutter/2;
      margin-top: $column-gutter/2;
      background: transparentize($sand-light, .85);
      &:hover {
        background: transparentize($sand-light, .75);
      }
      a {
        font-size: .9rem;
        color: $blue-sea;
        padding: .5rem;
        &:not(:first-child) {
          margin-left: $column-gutter;
        }
      }
    }

    .headers {
      a {
        color: $grey-smoke;
        &:hover {
          color: $green-deep;
        }
      }
      h3 {
        padding-left: $column-gutter;
        padding-right: $column-gutter;
        font-family: $font-family-serif;
        font-size: 1.3rem;
      }
    }
  }
}