.collections {
  ul:not(.f-dropdown) {
    margin: $column-gutter 0;
  }
  li.collection {
    list-style: none;
    margin: 0;
    position: relative;
  }

  .view-content ul:not(.f-dropdown) > li, .view-content ul:not(.f-dropdown) > div, .collection {
    border-bottom: rem-calc(1) solid $silver;
    background: $white;
    position: relative;
    @include single-transition();

    .actions {
      @include single-transition();
      visibility: hidden;
      opacity: 0;
      &, a {
        font-size: 1rem;
      }
    }

    &:hover, &.hover {
      cursor: default;
      box-shadow: $shadow-active-item;
      z-index: 2;
      .actions {
        visibility: visible;
        opacity: 1;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    .icon {
      float: left;
      display: block;
      font-size: 4rem;
      text-align: center;

      line-height: 3rem;
      margin: 0 $column-gutter 0 0;
      padding: 0;
    }

    img {
      float: left;
      margin-right: $column-gutter;
    }
    h3 {
      &:hover {
        cursor: default;
      }
      margin: 0;
      line-height: 1.3rem;
      padding: $column-gutter 0 $column-gutter $column-gutter;
      small {
        margin-top: $column-gutter/2;
        display: block;
        line-height: 1.35rem;
        font-size: 1rem;
        font-family: $font-family-sans-serif;
      }
      .subtitle {
        margin-top: 0;
        color: $grey-smoke;
        font-size: .8rem;
      }
    }

    a h3:hover {
      cursor: pointer;
    }

    .actions {
      //margin-top: 1.65rem;
      //text-align: right;
      //margin-right: $column-gutter;
      .button {
        //margin-bottom: $column-gutter;
      }

      .flag-wrapper a {
        //@extend .button;

        &.unflag-action {
          //@extend .info;
        }
      }
    }
  }

  p {
    position: relative;
  }

}

.collection.light {
  .node-title {
    display: none;
  }
  h3 a, h4 {
    font-family: $font-family-sans-serif;
  }
  h4 {
    font-size: 1rem;
  }
  div > article {
    padding: $column-gutter/2 0 !important;
    ul li:hover {
      background: inherit !important;
    }
    &:not(:first-child) {
      border-top: rem-calc(1) solid $smoke;
    }
  }
  .field-name-field-referenceto .mfp-gallery-image {
    &:hover {
      background-position-x: calc(50% - 1px) !important;
    }
    & > a {
      width: 100% !important;
    }
  }
}

.collections.message {
  position: relative;

  .collection {

    .wrapper.ispublic-1 {
      border: rem-calc(1) solid $iron;
    }

    position: relative;
    h3.title {
      font-size: 1rem;
      color: $tuatara;
      font-family: $font-family-sans-serif;
      margin-top: $column-gutter/2;

      small {
        display: inline-block;
      }
      a {
        color: $blue-sea;
        font-family: $font-family-sans-serif;
        font-size: 1rem;
      }
    }
    .inner > h3.title {
      color: $grey-smoke;
      font-size: .8rem;
    }
    .dropdown-wrapper {
      padding: $column-gutter $column-gutter/2;
      display: none;

      ul.f-dropdown {
        width: rem-calc(300);
      }
      li {
        text-align: left;
      }
    }
    &.hover, &:hover {
      .dropdown-wrapper {
        display: block !important;
        a.button {
          background: none !important; // bad. lazy to change in views ..
        }
      }
    }
    margin: $column-gutter 0;
    border-bottom: 0;

    .inner {
      padding: $column-gutter/2 $column-gutter;
    }

    .views-more-link {
      display: block;
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      background: rgba(255, 255, 255, 0.85);
      padding: 1rem 0 0 0;
      font-size: .8rem;
      border-top: rem-calc(1) solid $silver;
    }

    &:not(.active) {
      .trim {
        display: block;
      }
      .full {
        display: none;
      }
    }
    &.active {
      .trim {
        display: none;
      }
      .full {
        display: block
      }
    }

    h3 {
      padding: 0;
    }

    .subtitle {
      color: $aluminum;
    }

    ul:not(.f-dropdown,.chosen-choices) {
      list-style: none;
      margin: 0;
      li {
        margin-left: 0;
        margin-bottom: 0;
        padding: $column-gutter 0;
      }
    }
    .field {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        background: none;
        h3 a {
          color: $grey-smooth;
        }
      }
    }

    .list-photos, .reply-body .mfp-gallery-image {
      &, &.magnific_popup-processed {
        @extend .clearfix;
      }
      &:hover {
        background: url(../images/icon-zoom-64.png) calc(25% - 16px) center no-repeat;
        a img {
          opacity: .7;
        }
      }
      .mfp-gallery-image > a, & > a {
        display: inline-block;
        margin: 0;
        float: left;
        width: 25%;
        padding: $column-gutter/2 $column-gutter/2 0 0;

        img {
          float: left;
          //padding: $column-gutter/4;
          //padding-bottom: 0;
          width: 100%;
        }

        &:first-child {
          width: 50%;
        }

      }
    }

  }

}

.collections h5, .collections .view-header {
  text-align: center;
  font-family: $font-family-sans-serif;
  font-size: .8rem;
  color: $grey-smooth;
}

.collections .collection.light {
  padding: 0;
  margin-bottom: 0;

  .field-name-field-referenceto {
    margin-left: 0;
    margin-bottom: 0;
    padding: $column-gutter 0;
  }

  ul {
    list-style: none;
    margin: 0;
    li {
      margin-left: 0;
      margin-bottom: 0;
      padding: $column-gutter 0;
    }
  }
  ul li article {
    @extend .clearfix;
    padding: $column-gutter/2 0;
    &:hover {
      background: transparentize($sand-clean, .6);
    }
  }
  ul li:hover, &:hover {
    box-shadow: none !important;
  }

  a h3, h3 a {
    font-size: 1.2rem !important;
    line-height: 1rem !important;
  }

  a {
    color: $grey-smoke;
  }
  h3, ul li h3 {
    padding: 0;
    a {
      color: $grey-smoke;
    }
  }

  ul.links li {
    padding-bottom: 0;
  }
}

.collections.border-separator .collection {
  &:hover {
    background: $white !important;
  }
  //padding: $column-gutter;
  margin-top: 0;
  &:not(:first-child) {
    border-top: rem-calc(1) solid $silver;
  }
}

.collections .collection {
  .replies-wrapper {
    background: transparentize($sand-light, .95);
    .collection.light {
      background: inherit;
    }
    padding: 0;

    .replies-form {
      background: inherit;
      padding: $column-gutter $column-gutter 0 $column-gutter;
      border-top: rem-calc(1) solid $smoke;
      position: relative;
      form {
        overflow: hidden;
        position: relative;
        padding-bottom: $column-gutter/2;
        &.active {
          overflow: visible;
        }
      }

      @include active-form;

      ul.chosen-results {
        margin: 0;
        li {
          &:hover {
            box-shadow: none;
            color: $grey-black;
          }

          &.highlighted {
            color: $grey-black;
            box-shadow: none;
            background: $sand-clean;
          }
        }
      }
      button {
        margin-bottom: $column-gutter;
      }
    }

    .replies {
      padding: 0;
      .reply:not(:first-child) {
        border-top: rem-calc(1) solid $white;
      }
      .entity-reply:last-child {
        margin-bottom: $column-gutter;
      }
    }

    .reply {
      color: $grey-smooth;
      font-size: .9rem;

      &:first-child {
        border-top: rem-calc(1) solid $smoke;
      }
      position: relative;
      padding: $column-gutter/2 $column-gutter;
      &:hover {
        background: transparentize($sand-light, .82);
      }

      .reply-links {
        position: absolute;
        top: 0;
        right: 0;
        display: none;

        a {
          margin: 0 $column-gutter/2;
          color: $blue-sea;
          font-size: .8rem;
        }
      }

      &:hover .reply-links {
        display: block;
      }

      .field-name-field-author {
        a {
          color: $blue-sea;
        }
      }

      .field-name-field-date-display {
        color: $grey-smoke;
        font-size: .8rem;
      }
    }
  }
  &.active {
    overflow: visible;
  }

  .edit {
    padding: $column-gutter/2;
    background: $white;
    color: $blue-sea;
  }
}

.collections .collection {
  .replies {
    .reply {
      display: none;
      &:nth-last-child(-n+3) {
        display: block;
      }
    }
    &.more-open {
      .reply {
        display: block;
      }
      .more-link {
        display: none;
      }
    }
    .more-link {
      text-align: center;
      font-size: .8rem;
      background: transparentize($sand-light, .9);
      a {
        text-align: center;
        padding: $column-gutter/2;
        width: 100%;
        //color: $blue-sea;
        //text-decoration: underline;
      }
    }
  }
}

.page-perso form.entitytype-message-form {
  overflow: hidden;
  position: relative;

  &.active, form.active {
    overflow: visible;

    .form-wrapper:not(.field-name-field-body), .form-submit {
      display: block;
      position: relative;
      visibility: visible;
      width: auto;
      height: auto;
      overflow: visible;
      top: 0;
    }
  }
  .form-wrapper:not(.field-name-field-body), .form-submit {
    position: absolute;
    overflow: hidden;
    bottom: -10rem;
  }
}

.page-perso .collection {
  .actions a {
    color: $blue-sea;
    @extend .edit;
  }
}