.form-item, .form-actions {
  margin-top: 0 !important;
}

button.button.secondary {
  transition: all .3s ease-out;
  background: $blue-sea;
  color: $white;
  border-color: $blue-sea;
  &:hover, &:focus {
    background: scale_color($blue-sea, $lightness: 15%);
  }
}

input.error, select.error {
  margin-bottom: $column-gutter;
}

#user-login {

}

.entitytype-contact-form div,
.entitytype-vente-form div {

  text-align: center;
  * {
    text-align: left;
  }

  button {
    margin-top: $column-gutter/2;
  }

  @media #{$medium-up} {
    input:not(.autocomplete-deluxe-form) {
      max-width: none;
      width: inherit;
    }
    select {
      width: inherit;
    }
    button {
      margin-top: $column-gutter;
    }
  }

  fieldset {
    padding: 0;
    border: 0;
    margin: 0 0 $column-gutter 0;
    background: white;
    .fieldset-wrapper {
      padding: $column-gutter;
    }

    legend {
      width: 100%;
      margin: 0;
      padding: $column-gutter;
      background: $sand-light;
    }

    fieldset {
      legend {
        background: none;
        padding: 0;
      }
    }
  }
}

input.autocomplete-deluxe-form:not(.autocomplete-deluxe-multiple) {
  width: 80% !important;
  float: left;
  margin-bottom: 0;
}

div.autocomplete-deluxe-throbber {
  width: rem-calc(16) !important;
  float: right !important;
  height: 50% !important;
  margin-top: rem-calc(7) !important;
}
