//.icon-bar {
//  background-color: $sand-clean;
//  & > *, label, i {
//    color: $oil !important;
//  }
//  a {
//    transition: all 0.3s ease-out;
//    &:hover {
//      background: scale-color($sand-clean, $lightness: -5%);
//    }
//  }
//}