.page-header ul.menu,
//.pane-menu-menu-operateur-menu ul.menu,
.page-perso ul.menu {
  @include button-group-container();
  background: none!important;
  .leaf a {
    @extend button;
    padding: $column-gutter $column-gutter*.5 $column-gutter $column-gutter*.5;
    font-family: $font-family-serif;

    @media #{$small-up} {
      font-size: 1rem;
    }
    @media #{$large-up} {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }
    @media #{$xlarge-up} {
      font-size: 1.55rem;
    }
    width: 100%;
  }

  & > li {
    @include button-group-style(false, 7, left);
    a {
      border-bottom: rem-calc(4) solid $sand-light !important;
    }

    &.active-trail a.success {
      background-color: scale_color($green-deep, $lightness: -15%);
    }
  }

  a {
    color: $white;
    font-family: $font-family-serif;
    font-size: rem-calc(25);
  }
}

.page-perso .pane-perso-menu-both-client-operateur ul.menu,
.page-perso .pane-menu-menu-client-menu ul.menu,
.page-perso .pane-menu-menu-operateur-menu ul.menu {
  & > li {
    @include button-group-style(false, 4, left);
    a {
      min-height: rem-calc(75);
      background: transparent;
      border-bottom: 0 !important;
      margin: 0 !important;
      font-family: $font-family-sans-serif;
      font-size: rem-calc(18);
    }
    &.active-trail a.active {
      background: scale_color($sand-light, $lightness: -15%);
    }
  }
}

.footer-page ul.menu {
  @include list-side-nav();
}