// magnific popup
img.mfp-thumbnail {
  width: 100%;
}

.mfp-container {
  a:hover, button:hover {
    background: inherit;
  }
  .mfp-close:hover {
    cursor: pointer !important;
  }
}

.page-perso .collection.light .mfp-gallery-image {
  img {
    float: none;
  }
  &:hover {
    background: url(../images/icon-zoom-64.png) center center no-repeat;
    img {
      opacity: .7;
    }
  }
}