.mini-card {
  @media #{$medium-up} {
    &.views-row-odd {
      padding-left: 0 !important;
    }
    &.views-row-even {
      padding-right: 0 !important;
    }

    &.views-row-odd.views-row-last {
      padding-left: $column-gutter/2 !important;
      padding-right: 0 !important;
    }
  }
  @media #{$small-only} {
    margin-top: $column-gutter/2;
    &.views-row-last {
      margin-bottom: $column-gutter;
    }
  }
  @media #{$medium-up} {
    margin-top: $column-gutter;
  }
  .inner {
    transition: all .3s ease-out;
    background: $sand-clean;
    &:hover, &:focus {
      background: scale_color($sand-light, $lightness: 0);
    }
    img {
      float: left;
      width: 50%;
      margin-right: $column-gutter/2;
    }
    h5 {
      line-height: 1.35rem;
      margin: 0;
      padding: $column-gutter 0 $column-gutter/2 0;
    }
    a {
      color: $grey-black;
    }
  }
}