.off-canvas-wrap {

  @media #{$small-only} {
    .left-off-canvas-toggle {
      position: absolute;
      z-index: 1;
      top: $column-gutter/2;
      left: $column-gutter/2;
    }
  }

  .exit-off-canvas {
    background: transparentize($sand-pinky, .5);
  }

  .left-off-canvas-menu {
    background: $green-deep;
  }

  /*h2.pane-title {
    color: $white;
    font-size: 1rem;
    padding: $column-gutter $column-gutter 0 $column-gutter;
  }*/
  .left-off-canvas-menu ul.menu {
    @include list-side-nav();
  }
}