.people {
  h4 {
    margin: 0;
    small {
      display: block;
    }
    padding-top: 0;
    font-size: rem-calc(25);
    padding-bottom: rem-calc(12);
  }
  img {
    width: 100%;
    height: auto;
  }

  .wrapper {
    &:hover {
      box-shadow: $shadow-active-item;
    }
  }
}