.search-filters {
  overflow: hidden;

  ul {
    @include side-nav($link-color: $grey-smooth, $link-color-hover: $grey-black);
    border-top: rem-calc(1px) solid $silver;
    padding-top: $column-gutter;

    li {
      margin: 0;

      a {
        font-family: $font-family-serif;
        font-size: 1.2rem;
        line-height: 2rem;
        @extend .ellipsis;

        i {
          margin-right: $column-gutter;
        }
      }
    }
  }

  form {
    .views-exposed-form {
      .views-exposed-widgets {
        .form-submit {
          margin-top: 0;
        }
        @include grid-row();

        & > div {
          padding: 0 !important;
        }

        div.views-widget-filter-search_api_views_fulltext {
          @include grid-column(10);
        }

        .views-submit-button {
          @include grid-column(2);
          .form-submit {
            @extend .postfix;
            @extend button.button.secondary;
            margin-top: 0;
            padding-left: 0;
            padding-right: 0;
          }
        }

      }
    }
  }

}

.page-perso .search-filters {
  &, & > div {
    @include single-transition();
  }
  form .views-submit-button button {
    max-width: 100%;
  }
  .description {
    display: none !important;
  }
  .views-widget-filter-field_nom_prenom_value {
    width: 83%;
  }
  .active {
    background: $white-smoke;
  }
  li.divider {
    border-color: $silver;
    margin: $column-gutter 0;
  }
}