header.page-header {
  .button {
    margin-bottom: 0;
  }
  h1 {
    padding: 0;
    a {
      @extend .text-shadow;
      color: $white;
    }
  }
}

.mode-2 header.page-header {
  h1 {
    background: $green-deep;
  }
  .button {
    margin-bottom: $column-gutter/2;
  }
}

@media #{$small-only} {
  header.page-header {
    h1 {
      line-height: 1.5rem;
      padding-bottom: 1rem;
      a {
        font-size: 2rem;
        line-height: 1rem;
      }
    }
  }
}

// @todo
@media #{$medium-up} {
  header.page-header h1 a {
    font-size: 2.75rem;
    line-height: 4rem;
  }
}
@media #{$large-up} {
  header.page-header h1 a {
    font-size: 3.75rem;
    line-height: 6rem;
  }
}