$ratio-unactive-slick: .35;

.slick-it.centered {
  .slick-list {
    margin: auto;
  }

  .card.slick-slide {
    transition: all .3s ease-out;
    margin: $column-gutter*2 $column-gutter/2 0;

    &.views-row-even .wrapper {
      margin-left: 0;
    }
    &.views-row-odd .wrapper {
      margin-right: 0;
    }

    .wrapper {
      transition: all .3s ease-out;
      opacity: $ratio-unactive-slick;
      zoom: .8;
      .picture {
        overflow: hidden;
        max-height: rem-calc(310);
      }
    }
    &.slick-active {
      margin-top: $column-gutter;
      margin-bottom: $column-gutter;

      .wrapper {
        margin-top: 0;
        opacity: 1;
        zoom: 1;
        box-shadow: $shadow-active-item;
        .picture {
          max-height: 100%;
        }
      }
    }
  }
}

.slick-slider .slick-arrow {
  &:hover {
    background: $green-deep;
  }
  background: $green-deep;
  color: $white;
  padding: rem-calc(12);
  height: auto;
  width: auto;
  z-index: 9;
}

.slick-it.centered .slick-arrow {
  top: 25%;

  @media #{$small-only} {
    &.slick-prev {
      left: -$column-gutter/2;
    }
    &.slick-next {
      right: -$column-gutter/2;
    }
  }

  //@media #{$medium-up} {
  //  &.slick-prev {
  //    left: rem-calc(37) + $column-gutter*2;
  //  }
  //  &.slick-next {
  //    right: rem-calc(38) + $column-gutter*2;
  //  }
  //}

  @media #{$medium-up} {
    &.slick-next {
      right: rem-calc(162) + $column-gutter*2;
    }
    &.slick-prev {
      left: rem-calc(162) + $column-gutter*2;
    }
  }
}

.slick-dots {
  margin-left: 0;
}

.slick-slide img {
  margin: auto;
}

.easyzoom-thumbnails-wrapper {
  max-width: 650px;
  margin: auto;
}

.easyzoom-thumbnails-wrapper {
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
}

.slick-slider {
  @media #{$small-only} {
    margin-bottom: $column-gutter/2 !important;

  }
  @media #{$large-up} {
    margin-bottom: $column-gutter !important;
  }
}