ul.tabs {
  li.tab-title {
    & a, &.active a {
      background: none;
    }
    &.active a {
      border-bottom:rem-calc(3) inset $primary-color;
    }
  }
}

.tabs-content {
  background: $white;

  .body.field .field-label {
    display: inline;
  }
}