ul.tabs {
  li.tab-title {
    & a, &.active a, a:hover, a:focus {
      background: none;
    }
    &.active a {
      border-bottom: rem-calc(3) inset $primary-color;
    }
    &:not(.active) a:hover, &:not(.active) a:focus {
      border-bottom: rem-calc(3) inset transparentize($primary-color, .7);
    }
  }
}

.tabs-content {
  margin-bottom: $column-gutter;
  width: auto;

  .content {
    opacity: 0;
    visibility: hidden;
    display: block;
    position: fixed;
    z-index: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;

    padding: $column-gutter;
    transition: all .3s ease;

    &.active {
      opacity: 1;
      visibility: inherit;
      position: inherit;
      z-index: 1;
      width: auto;
      height: auto;
      overflow: inherit;
    }

    .body.field .field-label {
      display: inline;
      text-rendering: optimizeLegibility;
    }

    p i {
      margin-right: $column-gutter/2;
    }

    .view-content {
      margin-bottom: $column-gutter;
    }

    small.clearfix {
      display: block
    }

    p {
      margin-bottom: $column-gutter/2;
    }
  }
}

.view .tabs.vertical {
  width: 100%;
  max-width: 100%;
  padding: 0 !important;
}
