.entitytype-contact-form {

  button {
    margin-top: $column-gutter/2;
  }

  @media #{$medium-up} {
    input {
      max-width: none;
      width: inherit;
    }
    select {
      width: inherit;
    }
    button {
      margin-top: $column-gutter;
    }
  }
}