.messages {
  position: fixed !important;
  top: $column-gutter/2;
  width: rem-calc(500);
  left: 50%;
  margin-left: rem-calc(-250) !important;
  z-index: 9;
  opacity: .7;
  &:hover {
    opacity: 1
  }
  ul {
    margin-bottom: 0;
  }
  @media #{$small-only}{
    & {
      left: 0;
      width: 100%;
      margin: 0 !important;
    }
  }
}

.alert-box.success {
  background: $oil;
  border: none;
  .close {
    color: $white;
  }
}

.rules-messages-wrapper {
  margin: 0;
  bottom: $column-gutter;
  left: $column-gutter;
  z-index: 99999;
  &:hover {
    cursor: default;
  }
  .rules-message {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    background: $oil;
    opacity: .7;
    &:hover {
      opacity: 1;
    }

    .body {
      &, & .subject {
        a {
          color: $white !important;
          text-decoration: underline;
        }
        color: $smoke;
      }
    }
  }
}